@font-face {
    font-family: Regular;   
    src: url(../Header/Nav/HelveticaNeueHv.ttf)
};

@font-face {
    font-family: timer;
    src: url(./Helvetica.ttf);
}

@media (min-width: 1024px) {
    .header2 {
        display: flex;
        grid-template-columns: auto auto;
        font-family: 'Regular';
        background-color: #000000;
        position: relative;
        width: 100%;
        height: 80px;
        z-index: 0;
        top: 0px;
        left: 0;

        .headimg {
            height: 120px;
        }
        .imgphone {
            opacity: 0%;
        }
        .timer {
            font-family: 'Regular';
            opacity: 100%;
            position: relative;
            color: rgb(244, 230, 230);
            top: 30px;
            left: 445px;
            font-size: 10px;
        }


        .date {
            position: relative;
            color: rgba(255, 255, 255, 0.811);
            font-family: 'Regular';
            top: 20px;
            left: -110px;
            font-size: 20px;
        }


        .headimg,
        .timer,
        .date {
            padding: 0px;
            position: relative;


        }



        // z-index: 1000; /* Ensure the navbar stays on top of other elements */
        // padding: 0px; /* Add some horizontal padding */
    }
}




@media (max-width: 1023px) {
    
    .headimg{
        opacity: 0%;
    }
    .imgphone{
        position: absolute;
        height: 45px;
        top: 10px;
    }
    .timer{
        font-family: 'Regular';
        position: absolute;
        font-size: 12px;
        top: 14%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .date{
        opacity: 0%;
    }
}