.header{
    position: fixed;

    .backgroundVideo {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; // Ensure the video covers the viewport
        z-index: -1; // Place video behind other content
        pointer-events: none; // Prevent interaction with the video
    }

    right: 10px;
    top: 20px;
    z-index: 4;
    .menu{
        // width: 384;
        // height: 520px;
        // background-color:#2d292f;
        // background-image: url("https://pbs.twimg.com/media/GWeKTq5WwAA5M40?format=jpg&name=medium");
        border-radius: 15px;
        border-color: white;
        position: relative;
        .backgroundVideo {
            position: absolute; // Position the video within the menu
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover; // Ensure the video covers the menu area
            z-index: -1; // Place the video behind other content
            pointer-events: none; // Prevent interaction with the video
            filter: blur(0px); // Add a subtle blur effect

        }

    }
    
}
 @media (max-width: 800) {
    .header{
        position: fixed;
        right: 0px;
        z-index: 10;
        top: 10px;
    }
 }


