@font-face {
    font-family: Regular;
    src: url(./HelveticaNeueHv.ttf);
  }
  
.nav{
    font-family: Regular;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 200px 0px 30px 40px;
    height: 100%;
    box-sizing: border-box;
    .body{
        display: flex;
        gap: 25px;
        flex-direction: column;
        .linkContainer{
            perspective: 120px;
            perspective-origin: bottom;
        }

        a {
            text-decoration: none;
            color: rgb(164, 157, 157);
            font-size: 35px;
            
        }
        a:hover {
            // text-decoration: none;
            color: rgb(255, 255, 255);
            font-size: 35px;
            
        }
    }
    .footer{
        
        display: flex;
        flex-wrap: wrap;
        a{
            text-decoration: none;
            width: 50%;
            margin-top: 25px;
            color: rgb(175, 167, 167);
            text-underline-offset: 80% ;
        }
        a:hover {
            width: 50%;
            margin-top: 25px;
            color: rgb(255, 255, 255);
        }
        
    }
    
}