.container {
    position: relative;
    top: 180px;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 200vh;
    z-index: -2;
    overflow: hidden;
    

    .text {
        overflow: hidden;
        background-color: #e9e8ef;
        font-size: 10vw;
        letter-spacing: -.01em;
        line-height: 100%;
        margin: 0;
    
        width: 100%;
        color: rgba(182, 182, 182, 0.2);
        background: linear-gradient(to right, #000000, #d97b7b, #ff0000,#2c2424) no-repeat;
        -webkit-background-clip: text;
        background-clip: text;
        background-size: 0%;
        transition: background-size cubic-bezier(.1, .5, .5, 1) 0.5s;
    
        border-bottom: 1px solid #2F2B28;
    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        position: relative;
        top: 0px;

    }
}

@media (max-width: 800px) {
    .container{
        margin: 0px;
        position: relative;
        top: 20px;
    }
    .text{
        position: relative;
        top: -20px;
    }
}